<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucberkeley.android.locationchecker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sample" >
        <activity
            android:name="com.ucberkeley.android.locationchecker.MainActivity"
            android:description="@string/app_description"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.ucberkeley.android.locationchecker.ActivityRecognitionIntentService" >
        </service>
        <service android:name="com.ucberkeley.android.locationchecker.LocationUpdateService" >
        </service>

        <receiver
            android:name="com.ucberkeley.android.locationchecker.AlarmReceiver"
            android:process=":remote" >
        </receiver>
        <receiver android:name="com.ucberkeley.android.locationchecker.BatteryLevelReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ucberkeley.android.locationchecker.StartMyServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>